<form [formGroup]="form" (ngSubmit)="guardarpublicacion()" >
    <div class="form group">
        <section>
            <h6>Titulo de Publicacion</h6>
            <div class="input-group ">
                
                <br>
                <input name="titulo" formControlName="titulo" type="text" class="form-control" placeholder="Titulo Publicacion">
           </div>
           <br>
           <h6>Descripcion de Publicacion</h6>
            <div class="input-group ">
                
                <br>
                <textarea name="Descripcion" formControlName="descripcion" id="" cols="69" rows="10" placeholder="Descripcion de Publicacion"></textarea>
                
            </div>
        </section>
    </div>
    <br>
    <div class="form grup"> 
        <button class="btn btn-success btn-lg btn-block" type="submit">Aceptar</button>
    </div>
</form>
